html, Body {
    /*стили для БОДИ */
    
    
    width: 100%;
    height: 100%;
    min-height:100%;
    
    background: #ffffff;

    font-family: "More is less 22 Displacement";
    font-family: "Inter";
    font-family: "WG Patchwork";
    font-family: "Chakra Petch";
    font-family: "Libre Barcode 39 Extended Text" Regular;
    font-family: "Jura" Regular;
    font-family: "Lucida Sans Unicode";
    font-family: "Montserrat Alternates"Light;  

    }


  * {
    margin: 0px;
    padding: 0px;
  }

  *,
  *:before,
  *:after {
  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    
  }
  /*стили для БОДИ конец */
  
  
  /*Блок загрузки прелайдер */
  .preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 1s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #ffffff;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 1s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: 8s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 6.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
  /*Блок загрузки прелайдер конец*/
  

  
/*контейнер банер*/
.container {
    
    width: 100%;
    height: auto;
    position: fixed;
        
    object-fit: cover;
}

img {
    width: 100%;
    height: auto;
    position: fixed;
        
    object-fit: cover;

}
/*контейнер банер*/
  

  /*Стили текстов*/
.text_1 {
    
    position: absolute;
    width: 77px;
    height: 52px;
    left: 85px;
    top: 41px;
    
    font-family: 'More is less 22 Displacement';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 63px;
    text-align: center;
    
    color: #000000;
    
    text-shadow: 3px 2px 30px #FFFFFF;
}

.text_1 {
    transition: 1s; /* Время эффекта */
    text-align: center; 
  }
.text_1:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
  }



.text_2 {
    position: absolute;
    width: 25px;
    height: 30px;
    left: 173px;
    top: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 2px 5px 3px #233334;
}

.text_2 {
    transition: 1s; /* Время эффекта */
    text-align: center; 
  }
.text_2:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
  }



.text_3 {
    position: absolute;
    width: 94px;
    height: 31px;
    left: 198px;
    top: 58px;

    font-family: 'WG Patchwork';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    color: #000000;
}

.text_3 {
    transition: 1s; /* Время эффекта */
    text-align: center; 
  }
.text_3:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
  }
  /*Стили текстов конец*/

/*соцсети */

.telegram {
    position: absolute;
    width: 44px;
    height: 46.64px;
    left: 295px;
    top: 425px;

    background: url(telegram_icon_131945.png);
    filter: drop-shadow(0px 4px 4px #233334);
    transform: rotate(1.71deg);

}

.telegram {
    transition: 0.5s; /* Время эффекта */
    text-align: center; 
  }
  .telegram:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
  }



.whatsapp {
    position: absolute;
    width: 53px;
    height: 53px;
    left: 270px;
    top: 460px;

    background: url(whatsapp-black_100119.png);
    filter: drop-shadow(0px 4px 4px #233334);
    transform: rotate(24.36deg);
}

.whatsapp {
    transition: 0.5s; /* Время эффекта */
    text-align: center; 
  }
  .whatsapp:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
  }
  


.instagram {
    position: absolute;
    width: 51px;
    height: 51px;
    left: 250px;
    top: 500.09px;

    background: url(353424-instagram-logo_107474.png);
    filter: drop-shadow(0px 4px 4px #233334);
    transform: rotate(-10.88deg);
}

.instagram {
    transition: 0.5s; /* Время эффекта */
    text-align: center; 
  }
  .instagram:hover {
    transform: scale(1.6); /* Увеличиваем масштаб */
  }
/*соцсети конец*/


/*Блок текста*/
.t1 {
    position: absolute;
    width: 288px;
    height: 19px;
    left: 85px;
    top: 108px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.t2 {
    position: absolute;
    width: 454px;
    height: 19px;
    left: 85px;
    top: 142px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #FFFFFF;

}

.t3 {
    position: absolute;
    width: 434px;
    height: 37px;
    left: 85px;
    top: 176px;

    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;

    color: #FFFFFF;
}

.t4 {
    position: absolute;
    width: 434px;
    height: 37px;
    left: 85px;
    top: 228px;
    
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
       
}
/*Блок текста*/  



/*другие элементы,штрих код,полоса,текст */
.polosa {
    position: absolute;
    width: 306px;
    height: 25px;
    left: 1020px;
    top: 41px;
    
    background: #000000;

    transform: translateX(150%);
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {transform: translateX(150%);}
    100% {transform: translateY(0);}
}


.recommended {
    position: absolute;
    width: 258px;
    height: 16px;
    left: 1032px;
    top: 41px;
    white-space: nowrap;
    
    font-family: 'Lucida Sans Unicode';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #FFFFFF;

    transform: translateX(150%);
    animation: ani 7s forwards;
} 

@keyframes ani {
    0% {transform: translateX(150%);}
    100% {transform: translateY(0);}
}


.Weare {
    position: absolute;
    width: 265px;
    height: 51px;
    left: 1020px;
    top: 71px;
    white-space: nowrap;

    font-family: 'Libre Barcode 39 Extended Text';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;

    color: #000000;

    transform: translateX(150%);
    animation: ani 7s forwards;
}

@keyframes ani {
    0% {transform: translateX(150%);}
    100% {transform: translateY(0);}
}
/*другие элементы,штрих код,полоса,текст */


/*меню*/
menu {
    position: absolute;
    width: 136px;
    height: 49px;
    left: 1068px;
    top: 252px;

    
    
}


.menu_1 {
    position: absolute;
    width: 136px;
    height: 16px;
    left: 1068px;
    top: 252px;
    text-decoration: none;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3em;

    color: #ffffff;

    text-shadow: 0px 7px 5px #000000;
}

a.menu_1{
    color: #ffffff; /* Цвет текста */
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
  }
  a.menu_1:hover{
    color: #000000; /* Меняем цвет текста */
  }

.menu_2 {
    position: absolute;
    width: 81px;
    height: 16px;
    left: 1068px;
    top: 285px;
    text-decoration: none;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4em;

    color: #FFFFFF;

    text-shadow: 0px 7px 7px #000000;
}

a.menu_2{
    color: #ffffff; /* Цвет текста */
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
  }
  a.menu_2:hover{
    color: #000000; /* Меняем цвет текста */
  }
/*меню*/
